#airplane {
  filter: brightness(0) invert(1);
  color:white;
  width: 192px;
  height: 161px;
  position: absolute;
  left: 50%;
  bottom: 0; 
  transform: translateX(-50%);
  transition: 0.2s;
}

.bomb {
  background-image: url('bomb.png');
  background-size:cover;
  width: 65px;
  height: 65px;
  position: absolute;
  transition: 0.2s;
}

body {
  background-image: url('galaxy.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}